<section class="pattern">
    <strong>Dependency Injection (DI) pattern</strong>

    <p>
        Angular utilizes the DI pattern to manage the dependencies between components and services. With DI, the
        required dependencies are provided to a component or service through constructor injection or property
        injection, promoting loose coupling and testability.
    </p>

    <img src="/assets/images/di.component.ts.svg" alt="di.component.ts.svg">

    <p>
        Benefits of using the Dependency Injection pattern include:
    </p>

    <ul>
        <li> <strong>Improved testability:</strong> Dependencies can easily be replaced with mock or stub
            implementations during testing,
            allowing for isolated unit tests.</li>
        <li> <strong>Increased modularity:</strong> Classes become more modular and easier to understand since
            dependencies are explicitly
            declared.</li>
        <li> <strong>Flexibility:</strong> Dependencies can be easily swapped or updated without modifying the dependent
            class.</li>
        <li> <strong>Encourages best practices:</strong> Encourages adherence to the Single Responsibility Principle
            and other SOLID
            principles.</li>
    </ul>

    <p>
        Overall, the Dependency Injection pattern helps in building scalable, maintainable, and testable software
        systems by reducing tight coupling between components.
    </p>

</section>