/* You can add global styles to this file, and also import other style files */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  text-align: justify;
}

code {
  font-family: Consolas, "courier new", monospace;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
}

section.pattern {
  max-width: 50rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  &.active {
    color: #ff6b6b;
  }
  &:hover {
    transition: color 0.3s ease-in-out;
    color: #ff6b6b;
  }

  &.link{
    text-decoration: underline;
    color: #f65555;
  }
}
